server {
  listen 80;

  location / {
    proxy_pass http://lion-app:8000;
    proxy_set_header Host $Host;
    proxy_set_header X-Real-IP $remote_addr;
  }

    location /static {
    root /var/www/html/;
  }
}